*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root{
  --color-primary: #6c63ff;
  --color-success: #00bf8e;
  --color-warning: #f7c94b;
  --color-danger: #f75842;
  --color-danger-varient: rgba(247, 88, 66, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.7);
  --color-black: #000;
  --color-gb: #1f2641;
  --color-gb1: #2e3267;
  --color-gb2: #424890;

  --container-width-lg: 76%;
  --container-width-md: 90%;
  --container-width-sm: 94%;

  --transition: all 40ms ease;
}

body{
  font-family: 'Montserrat', sans-serif;
  line-height: 1.7;
  color: var(--color-white);
  background: var(--color-gb);
}

.container{
  width: var(--container-width-lg);
  margin: 0 auto;
}

.section{
  padding: 6rem, 0;
}

.section h2{
  text-align: center;
  margin-bottom: 4rem;
  ;
}

h1, h2, h3, h4, h5{
  line-height: 1.2;
}

h1{
  font-size: 2.4rem;
}

h2{
  font-size: 2rem;
}

h3{
  font-size: 1.6rem;
}

h4{
  font-size: 1.3rem;
}

a{
  color: var(--color-white);
}

img{
  width: 100%;
  display: block;
  object-fit: cover;
}

#elogo {
  position: absolute;
  top: 10px; 
  left: 10px; 
  width: 100px; 
  height: auto;
  margin: 0.5rem 9rem 2.4rem;
}

.btn{
  display: inline-block;
  background: var(--color-white);
  color: var(--color-black);
  padding: 1rem 2rem;
  border: 1px solid transparent;
  font-weight: 500;
  transition: var(--transition);
}

.btn:hover{
  background: transparent;
  color: var(--color-white);
  border-color: var(--color-white);
}

.btn-primary{
  background: var(--color-danger);
  color: var(--color-white);
}

nav{
  background: transparent;
  width: 100vw;
  height: 5rem;
  position: fixed;
  top: 0;
  z-index: 11;
}

.window-scroll{
  background: var(--color-primary);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}


.nav_container{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav button{
  display: none;
}

.nav_menu{
  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav_menu a{
  font-size: 0.9rem;
  transition: var(--transition);
}

.nav_menu a:hover{
  color: var(--color-gb2);
}

/* navbar */

header{
  position: relative;
  top: 5rem;
  overflow: hidden;
  height: 70vh;
  margin-bottom: 5rem;
}

.header-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 5rem;
  height: 100%;
  padding-bottom: 1%;
}

.header-left{
  margin: 1rem 0 2.4rem;
  gap: 5%;
}

@property --rotate{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

#anim{
  color: transparent;
  background-image: conic-gradient(from var(--rotate) at 50% 10%, #21ade4 40%, #ebdc34, #f43711 60%);
  -webkit-background-clip: text;
  background-clip: text;
  animation: rotateLight 3s ease-in-out infinite alternate;
  text-align: center;
  font-size: 75px;
  font-family: 'Montserrat', serif;
  font-weight: 800;
}

@keyframes rotateLight {
  from{--rotate: 0.2turn}
  to{--rotate: -0.2turn}
  
}



/* prizes */

.prizes {
  background-color: var(--color-primary);
  padding: 2rem;
  text-align: center;
}

.prizes h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.prize {
  display: inline-block;
  margin: 1rem;
  padding: 2rem;
  width: 30%;
  background-color: var(--color-gb1);
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.prize h2 {
  font-size: 1.5rem;
  color: var(--color-white)
}

.prize img {
  width: 100px;
  height: 100px;
  margin: 1rem auto;
}

.prize p {
  font-size: 1rem;
  margin: 0.5rem 0; 
}

.timeline{
  width: 100%;
  height: auto;
  background: var(--color-gb2);
  padding: 50px 0;
  display: grid;
  place-items: center;
}

.timeline h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  position: relative;
}

.timeline h1::after {
  position: absolute;
  content: ' ';
  width: 50%;
  height: 4px;
  left: 50%;
  bottom: -5px;
  background-image: linear-gradient(to right, var(--color-primary), var(--color-primary)); 
  transform: translateX(-50%);
}


.timeline-container{
  width: 70%;
  height: auto;
  position: relative;
}

.timeline-container::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 100%; 
  background-image: linear-gradient(to bottom, var(--color-primary), var(--color-white));
  top: 0; 
  transform: translateX(-50%); 
}


.timeline-container ul{
  list-style: none;
}

.timeline-container ul li{
  width: 50%;
  height: auto;
  padding: 15px 20px;
  background-color: var(--color-black);
  box-shadow: 1px 1px 25px var(--color-black);
  border-radius: 10px;
  margin-bottom: 30px;
}

.timeline-container ul li:nth-child(odd){
  float: left;
  clear: right;
  transform: translateX(-30px);
  text-align: right;
}

.timeline-container ul li:nth-child(even){
  float: right;
  clear: left;
  transform: translateX(30px);
}

.timeline-container ul li:nth-child(4){
  margin-bottom: 0;
}

.timeline-container ul li:nth-child(1){
  margin-top: 20px;
}

.timeline-container ul li .title{
  font-size: 20px;
  font-weight: 500;
  color: var(--color-primary);
}

.timeline-container ul li .date {
  position: absolute;
  top: -40px;
  left: 20px;
  width: 135px;
  height: 40px;
  border-radius: 20px;
  color: var(--color-white);
  background-image: linear-gradient(to right, var(--color-primary), var(--color-gb)); 
  display: grid;
  place-items: center;
  font-size: 15px;
}

@media screen and (max-width: 1224px) {
  .timeline-container{
    width: 85%;
    
  } 
}

@media screen and (max-width: 933px) {
  .timeline-container{
    width: 80%;
    transform: translate(15px);
  }

  .timeline-container ul::after{
    left: -30px;
  }
  .timeline-container ul li{
    width: 100%;
    float: none;
    clear: none;
    margin-bottom: 80px;
  }
  
  .timeline-container ul li:nth-child(odd){
    transform: translateX(0);
    text-align: left;
  }

  .timeline-container ul li:nth-child(odd) .date{
    left: 20px;

  }

  .timeline-container ul li:nth-child(even){
    transform: translateX(0);
  }
}

footer{
  background: var(--color-black);
  padding-top: 50px;
  color: var(--color-white);
}

.footer-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.logof{
  display: inline-block;
  margin: 1rem;
  padding: 1rem;
  width: 30%;
  border-radius: 5px;
}

.middle{
  width: 100%;
  text-align: center; 
  margin-top: 20px;
  font-size: 1rem;
}

.down{
  padding-bottom: 50px;
}

.sociali{
  background: var(--color-black);
  color: var(--color-white);
  width: 100px; 
  height: 200px;
}

.sociali:hover{
  color: var(--color-success);
  transition: var(--transition);
  text-shadow: var(--color-success);
}

.copyright{
  text-align: center;
}


@media screen and (min-width: 768px) and (max-width: 1024px) {

  .container {
    width: var(--container-width-md);
  }


  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  h4 {
    font-size: 1.1rem;
  }


  nav button {
    display: inline-block;
    background: transparent;
    font-size: 1.8rem;
    color: var(--color-white);
    cursor: pointer;
  }

  nav button#close-menu-btn {
    display: none;
  }


  .nav_menu {
    right: 3%;
  }

  header {
    height: 100vh;
  }

  .header-container {
    grid-template-columns: 1fr;
    text-align: center;
    margin-top: 0;
  }

  .header-left p {
    margin-bottom: 1.3rem;
  }

  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 2rem;
  }

  .social {
    justify-content: center;
  }
}



@media screen and (max-width: 768px) {
  .nav_menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 5rem;
    right: 5%;
    width: 100%;
    background-color: var(--color-primary);
    box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
  }

  .nav_menu.active {
    display: flex;
  }

  .nav_menu li {
    width: 100%;
    height: 5.8rem;
  }

  .nav_menu li a {
    background: var(--color-primary);
    width: 100%;
  }

  .nav_menu li a:hover {
    background: var(--color-gb2);
    color: var(--color-white);
  }
}


@media screen and (min-width: 600px) and (max-width: 1024px) {
  
  .prizes {
    padding: 1rem; 
    text-align: center;
  }

  .prizes h1 {
    font-size: 1.5rem; 
    margin-bottom: 1rem;
  }

  .prize {
    width: 100%; 
    margin: 1rem 0; 
  }

  .prize h2 {
    font-size: 1.2rem; 
    color: var(--color-white);
  }

  .prize img {
    width: 80px; 
    height: 80px;
    margin: 1rem auto;
  }

  .prize p {
    font-size: 0.9rem; 
    margin: 0.5rem 0;
  }
}















